<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ name }} - CV</title>
    <meta name="description" content="{{ name }} - {{ summary }}">
    <meta name="author" content="{{ name }}">

    <meta property="og:title" content="{{ name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ base_url }}/index.html">
    <meta property="og:image" content="{{ base_url }}/{{ image_path }}">
    <meta property="og:image:alt" content="{{ name }} Profile Image">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/modern_normalize.css" />
    <link rel="stylesheet" href="css/html5bp.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="theme-color" content="#fafafa">
  </head>

  <body>
    <header class="page-header">
      <div class="container">
        <div class="header-top flex-responsive">
          {% if image_path %}
            <img class="header-image"
                 width="256"
                 height="256"
                 src="{{ image_path }}"
                 alt="{{ name }} Profile Image" />
          {% endif %}
          <div class="header-info">
            <h1>{{ name }}</h1>
            {% if label %}<h2 class="header-label">{{ label }}</h2>{% endif %}
            {% if contact.email or contact.phone or contact.location %}
              <address>
                <ul class="inline-list flex-responsive">
                  {% if contact.email %}
                    <li>
                      <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                    </li>
                  {% endif %}
                  {% if contact.phone %}
                    <li>
                      <a href="tel:+{{ contact.phone | replace('-', '') }}">{{ contact.phone }}</a>
                    </li>
                  {% endif %}
                  {% if contact.location %}<li>{{ contact.location }}</li>{% endif %}
                </ul>
              </address>
            {% endif %}
            {% if social_links %}
              <ul class="inline-list flex-responsive">
                {% for link in social_links %}
                  <li>
                    <a href="{{ link.url }}"
                       rel="noopener noreferrer"
                       aria-label="{{ link.label }}"
                       class="link-with-icon">
                      {% if link.svg_data %}{{ link.svg_data | safe }}{% endif %}
                      {{ link.label }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if summary %}<p class="header-summary">{{ summary }}</p>{% endif %}
          </div>
        </div>
      </div>
    </header>

    <div class="page-content">
      <div class="container">
        <main>
          {% if work_experience %}
            <section>
              <h2 class="section-heading">Work Experience</h2>
              {% for job in work_experience %}
                <section>
                  {% if job.icon_url %}
                  <div class="company-icon" ><img src="{{ job.icon_url }}"/></div>
                  {%endif %}

                  <div>
                  <h3>
                     
                    {% if job.url %}
                      {{ job.position }} at <a href="{{ job.url }}">{{ job.company }}</a>
                    {% else %}
                      {{ job.position }} at {{ job.company }}
                    {% endif %}
                  </h3>
                  {% if job.start_date and job.end_date %}
                    <p class="section-label">{{ job.start_date }} - {{ job.end_date }}</p>
                  {% endif %}
                  </div>
                  

                  {% if job.summary %}<p>{{ job.summary }}</p>{% endif %}
                  {% if job.highlights %}
                    <ul>
                      {% for highlight in job.highlights %}<li>{{ highlight }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}

          {% if projects %}
            <section>
              <h2 class="section-heading">Projects</h2>
              {% for project in projects %}
               {% if not project.hide %}
                <section>
                  {% if project.image_url %}
                    <div class="gallery side-gallery">
                        <figure>
                          <img width="200"
                               src="{{ project.image_url }}"
                               alt="{{ project.image_url }}">
                        </figure>
                    </div>
                  {% endif %}
                  <div>

                  <h3>
                    {% if project.url %}
                      <a href="{{ project.url }}">{{ project.title }}</a>
                    {% else %}
                      {{ project.title }}
                    {% endif %}
                  </h3>
                  {% if project.summary %}<p>{{ project.summary }}</p>{% endif %}
                  {% if project.highlights %}
                    <ul>
                      {% for highlight in project.highlights %}<li>{{ highlight }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                  <!-- {% if project.images %}
                    <div class="gallery main-gallery">
                      {% for img in project.images %}
                        <figure>
                          <img width="600"
                               height="338"
                               src="{{ img.img_path }}"
                               alt="{{ img.caption }}">
                          <figcaption>{{ img.caption }}</figcaption>
                        </figure>
                      {% endfor %}
                    </div>
                  {% endif %} -->
                                    </div>
                {% endif %}
                </section>
              {% endfor %}
            </section>
            
          {% endif %}

          {% if volunteer_experience %}
            <section>
              <h2 class="section-heading">Volunteer Experience</h2>
              {% for vol in volunteer_experience %}
                <section>
                  <h3>
                    {% if vol.url %}
                      {{ vol.position }} at <a href="{{ vol.url }}">{{ vol.organization }}</a>
                    {% else %}
                      {{ vol.position }} at {{ vol.organization }}
                    {% endif %}
                  </h3>
                  {% if vol.start_date and vol.end_date %}
                    <p class="section-label">{{ vol.start_date }} - {{ vol.end_date }}</p>
                  {% endif %}
                  {% if vol.summary %}<p>{{ vol.summary }}</p>{% endif %}
                  {% if vol.highlights %}
                    <ul>
                      {% for highlight in vol.highlights %}<li>{{ highlight }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}

          {% if references %}
            <section>
              <h2 class="section-heading">References</h2>
              {% for ref in references %}
                <section>
                  {% if ref.name %}<h3>{{ ref.name }}</h3>{% endif %}
                  {% if ref.relation %}<p class="section-label">{{ ref.relation }}</p>{% endif %}
                  {% if ref.reference %}
                    <blockquote>
                      {{ ref.reference }}
                    </blockquote>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}
        </main>

        <!-- Sidebar Section -->
        <aside>
          {% if education %}
            <section>
              <h2 class="section-heading">Education</h2>
              {% for edu in education %}
                <section>
                  <h3>
                    {% if edu.url %}
                      <a href="{{ edu.url }}">{{ edu.institution }}</a>
                    {% else %}
                      {{ edu.institution }}
                    {% endif %}
                  </h3>
                  {% if edu.location %}<p class="section-label">{{ edu.location }}</p>{% endif %}
                  {% if edu.degrees %}
                    <h4>Degrees</h4>
                    <ul>
                      {% for deg in edu.degrees %}<li>{{ deg }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                  {% if edu.honors %}
                    <h4>Honors</h4>
                    <ul>
                      {% for hon in edu.honors %}<li>{{ hon }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                  {% if edu.gpa_major or edu.gpa_cumulative or edu.graduation_date %}
                    <p>
                      {% if edu.gpa_major %}<span class="block">GPA in Major: {{ edu.gpa_major }}</span>{% endif %}
                      {% if edu.gpa_cumulative %}<span class="block">Cumulative GPA: {{ edu.gpa_cumulative }}</span>{% endif %}
                      {% if edu.graduation_date %}<span class="block">Graduation Date: {{ edu.graduation_date }}</span>{% endif %}
                    </p>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}

          {% if skills %}
            <section>
              <h2 class="section-heading">Skills</h2>
              <ul class="unstyled-list">
                {% for skill in skills %}
                  <li>
                    <h3><b>{{ skill.name }}: </b>{{ skill.summary}}</h3>
                    <div class="skill-bar">
                      <div class="skill-bar-fill w-{{ skill.proficiency }}"
                           role="meter"
                           aria-valuenow="{{ skill.proficiency }}"
                           aria-valuemin="0"
                           aria-valuemax="100">
                        <span class="skill-bar-label">{{ skill.proficiency_label }}</span>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endif %}

          {% if languages %}
            <section>
              <h2 class="section-heading">Languages</h2>
              <ul class="unstyled-list">
                {% for lang in languages %}
                  <li>
                    <h3>{{ lang.language }}</h3>
                    <p class="section-label">{{ lang.fluency }}</p>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endif %}

          {% if interests %}
            <section>
              <h2 class="section-heading">Interests</h2>
              {% for interest in interests %}
                <section>
                 
                  <div>
                    <h3>{{ interest.name }}</h3>
                     {% if interest.image_url %}
                    <div class="gallery side-gallery">
                        <figure>
                          <img width="600"
                               height="338"
                               src="{{ interest.image_url }}"
                               alt="{{ interest.image_url }}">
                        </figure>
                    </div>
                  {% endif %}
                    {% if interest.summary %}<p>{{ interest.summary }}</p>{% endif %}
                  </div>
                </section>
              {% endfor %}
            </section>
          {% endif %}
        </aside>
      </div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <p>© {{ current_year }} {{ name }}. All rights reserved.</p>
      </div>
    </footer>

    <script src="js/app.js"></script>
  </body>
</html>